
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Job Offers</ion-title>
  </ion-navbar>
  <ion-toolbar class="segment-toolbar">
      <ion-row class="filters">
        <ion-col no-padding col-12>
          <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3">
            <ion-slide (click)="filterDataBySelectedCategory(category.JobCategoryId)" *ngFor="let category of categories">
              <p [class.selected]="selectedCategory?.JobCategoryId === category.JobCategoryId" style="text-transform: uppercase;">{{
                category.CategoryName }}</p>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-row>
      <ion-col col-12>
        <div>
          <ion-list>
            <div *ngIf="joboffers.length > 0">
              <ion-card class="job-card-con" *ngFor="let item of joboffers">
                <ion-item class="">
                  <ion-avatar item-start class="avatar-top">
                    <img class="img-size" *ngIf="item.Employer.ProfilePicUrl == '' && item.Employer.Gender == 2" src="assets/imgs/maledefault.svg" />
                    <img class="img-size" *ngIf="item.Employer.ProfilePicUrl == '' && item.Employer.Gender == 1" src="assets/imgs/femaledefault.svg" />
                    <img class="img-size" *ngIf="item.Employer.ProfilePicUrl != ''" src="data:image/png;base64,{{item.Employer.ProfilePicUrl}}" />

                    <img src="assets/imgs/verified.png" class="verified-img" *ngIf="item.VerifiedByAdmin" alt="">
                
                  </ion-avatar>
                  <div class="card">
                    
                    <h4 class="para-overflow-hidden margin-bottom-5">
                        <img src="assets/imgs/woman.svg" *ngIf="item.Employer.Gender == 1" class="card-name-geneder-icon"> 
                      <img src="assets/imgs/male.svg" *ngIf="item.Employer.Gender == 2" class="card-name-geneder-icon"> <span class="margin-right-10 font-weight-500 font-size-16 ">{{item.Employer.FirstName}} {{item.Employer.LastName}}</span>
                     
  
                    </h4>
                    <ion-row no-padding class="">
                      <ion-col col-8 class="card-job-item-con">
                       <p class="card-job-item-name">{{item.Job.JobName}}</p>
                      </ion-col>
                     
                      <ion-col col-4 class="card-job-item-con">
                      <p class="req-type-color" *ngIf="item.StaffType == 1">( Individual )</p>
                      <p class="req-type-color" *ngIf="item.StaffType == 2">( Agency )</p>
                      </ion-col>
                    </ion-row>
                    <p class="para-overflow-hidden">
                      <span>
                        <img src="assets/imgs/location.svg" class="img-sub-size">
                      </span>
                      <span class=""> {{item.Employer.Country}}, {{item.Employer.City}}, {{item.Employer.District}}</span>
                    </p>
                    <p class="para-overflow-hidden">
                        <span>
                          <img src="assets/imgs/location.svg" class="img-sub-size">
                        </span>
                        <span class=""> Salary : {{item.ExpectedMinSalary}} - {{item.ExpectedMaxSalary}}</span>
                      </p>
                   
                    <p class="para-overflow-hidden">
                      <span>
                        <img src="assets/imgs/age.svg" class="img-sub-size">
                      </span>
                      
                      <span class="margin-right-10">
                        Age Limit: {{item.MinAge}} Yrs - {{item.MaxAge}} Yrs
                      </span>
                      <!-- <span class="">
                        Exp: {{item.Candidate.ExperienceInYears}} Yrs.
                      </span> -->
                    </p>
                    <!-- <p class="para-overflow-hidden">
                      <span>
                        <img src="assets/imgs/publishedjob/mail_icon.svg" class="img-sub-size">
                      </span>
                      <span class=""> {{item.Candidate.EmailId}}</span>
                    </p> -->
                    <!-- <p class="para-overflow-hidden">
                      <span>
                        <img src="assets/imgs/publishedjob/mobile_icon.svg" class="img-sub-size">
                      </span>
                      <span class=""> {{item.Candidate.ContactNo}}</span>
                    </p> -->
                    <p class="para-overflow-hidden">
                      <span>
                        Published: {{item.Employer.CreatedDate}}
                      </span>
                    
                    </p>
                  </div>
                </ion-item>
                <ion-row no-padding class="action-con">
                  <ion-col class="action-con-image">
                    <img src="data:image/png;base64,{{item.Employer.IdProofDoc}}" *ngIf="item.Employer.IdProofDoc != '' && item.Employer.IdProofDoc != null" #idcardfront (click)="presentImage(idcardfront)" class="action-con-image-size">
                    <img src="assets/imgs/noidcard.jpg" *ngIf="item.Employer.IdProofDoc == '' || item.Employer.IdProofDoc == null" class="action-con-image-size">
                    
                  </ion-col>
                 
                  <ion-col text-right class="action-con-image">
                    <img src="data:image/png;base64,{{item.Employer.IdProofDoc1}}" *ngIf="item.Employer.IdProofDoc1 != '' && item.Employer.IdProofDoc1 != null" #idcardback (click)="presentImage(idcardback)" class="action-con-image-size">
                    <img src="assets/imgs/noidcard.jpg" *ngIf="item.Employer.IdProofDoc1 == '' || item.Employer.IdProofDoc1 == null" class="action-con-image-size">
                  </ion-col>
                </ion-row>
                <ion-row no-padding class="action-con">
                    <ion-col class="action-con-inner">
                      <button ion-button clear small  icon-start class="action-btn" (click)="verify(item)" *ngIf="!item.VerifiedByAdmin">
                          <ion-icon name="checkmark"></ion-icon>
                        Verify
                      </button>
                    </ion-col>
                   
                    <ion-col text-right class="action-con-inner">
                      <button ion-button clear small  icon-start class="action-btn" (click)="gotoDetails(item)">
                          <ion-icon name="information-circle" ></ion-icon>
                        Detail
                      </button>
                    </ion-col>
                  </ion-row>
              </ion-card>
            </div>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      
        <ion-col col-12 text-center *ngIf="joboffers.length == 0">
          <img src="assets/imgs/no-record-found.png" >
      </ion-col>
    </ion-row>

   
</ion-content>
