<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>JOB REQUEST FORM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="">
  <ion-row>
    <ion-col col-12>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            Years of Experience
          </p>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="createJobRequest.ExperienceInYears" type="tel" placeholder="Year of exp." spellcheck="false" autocapitalize="off"
              maxlength="2" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="createJobRequest.ExperienceInMonths" type="tel" placeholder="Month of exp." spellcheck="false" autocapitalize="off"
              maxlength="3" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            Candidate localizations ?
          </p>
        </ion-col>
        <ion-col col-6>
          <ion-select class="margin-left-10" [(ngModel)]="createJobRequest.CityId" (ionChange)="onSelectedCity()">
            <ion-option value="0">--Select City--</ion-option>
            <ion-option *ngFor="let item of cities" value="{{item.CityId}}">{{item.CityName}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-6>
          <ion-select class="margin-left-10" [(ngModel)]="createJobRequest.DistrictId" [disabled]="createJobRequest.CityId == 0">
            <ion-option value="0">--Select District--</ion-option>
            <ion-option *ngFor="let item of districts" value="{{item.DistrictId}}">{{item.DistrictName}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            What salary do you propose for the candidate ?
          </p>
        </ion-col>
        <ion-col col-12>
          <ion-list class="margin-bottom-5" radio-group [(ngModel)]="createJobRequest.SalaryType">
            <ion-item class="radio-btn-sec default-add">
              <ion-radio item-left value="1"></ion-radio>
              <ion-label class="font-size-14">Monthly</ion-label>
            </ion-item>
            <ion-item class="radio-btn-sec default-add">
              <ion-radio item-left value="2"></ion-radio>
              <ion-label class="font-size-14">Hourly</ion-label>
            </ion-item>
            <ion-item class="radio-btn-sec default-add">
              <ion-radio item-left value="3"></ion-radio>
              <ion-label class="font-size-14">Price Of Service</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="createJobRequest.ExpectedMinSalary" type="tel" placeholder="Min Salary" spellcheck="false" autocapitalize="off"
              maxlength="10" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>

        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="createJobRequest.ExpectedMaxSalary" type="tel" placeholder="Max Salary" spellcheck="false" autocapitalize="off"
              maxlength="10" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item class="margin-bottom-5">
            <ion-label class="margin-top-0 font-size-14">
              <span>Canditate must know how to read ?</span>
              <span>
                <img src="assets/imgs/createJobReq/study.svg" class="img-sub-size margin-left-10" style="width:25px">
              </span>
            </ion-label>
            <ion-checkbox item-left class="margin-right-15" [(ngModel)]="createJobRequest.CanRead" spellcheck="false" autocapitalize="off"
              required>
            </ion-checkbox>
          </ion-item>
          <ion-item class="margin-bottom-5">
            <ion-label class="margin-top-0 font-size-14">
              <span>Candidate must know how to write ?</span>
              <span>
                <img src="assets/imgs/createJobReq/write-letter.svg" class="img-sub-size margin-left-10" style="width:25px">
              </span>
            </ion-label>
            <ion-checkbox item-left class="margin-right-15" [(ngModel)]="createJobRequest.CanWrite" spellcheck="false" autocapitalize="off"
              required>
            </ion-checkbox>
          </ion-item>
          <ion-item class="margin-bottom-5">
            <ion-label class="margin-top-0 font-size-14">
              <span>Sleep on Site</span>
              <span>
                <img src="assets/imgs/createJobReq/slumber.svg" class="img-sub-size margin-left-10" style="width:25px">
              </span>
            </ion-label>
            <ion-checkbox item-left class="margin-right-15" spellcheck="false" autocapitalize="off" required>
            </ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            Disponibility
          </p>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>
              <ion-icon name="calendar" class="font-size-25"></ion-icon>
            </ion-label>
            <ion-datetime displayFormat="DD-MMM-YYYY" pickerFormat="DD-MMM-YYYY" min="{{minDate}}" max="{{maxDate}}" [(ngModel)]="showSelectedDate"
              (click)="isDateSelected = true" (ionChange)="onSelectedDate(true)"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            Additional Description
          </p>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-textarea placeholder="Comment" [(ngModel)]="createJobRequest.AdditionalDescription"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="jobTasks.length > 0">
        <ion-col col-12 *ngFor="let job of jobTasks; let i = index">
          <ion-checkbox item-left class="margin-right-15" [(ngModel)]="job.Selected">
          </ion-checkbox>
          <span>{{job.JobTaskName}}</span>
          <div *ngIf="(job.ParentJobTaskId && job.ParentJobTaskId != null) || job.SubTasks.length > 0">
            <ion-col col-12 *ngFor="let subTask of job.SubTasks; let i = index">
              <ion-checkbox item-left class="margin-right-15" [(ngModel)]="subTask.Selected">
              </ion-checkbox>
              <span>{{subTask.JobTaskName}}</span>
            </ion-col>
            <div *ngIf="subTask.ParentJobTaskId && job.ParentJobTaskId != null && job.SubTasks.length > 0">
              <ion-col col-12 *ngFor="let subTask of job.SubTasks; let i = index">
                <ion-checkbox item-left class="margin-right-15" [(ngModel)]="subTask.Selected">
                </ion-checkbox>
                <span>{{subTask.JobTaskName}}</span>
              </ion-col>
            </div>
          </div>
        </ion-col>
      </ion-row> -->
      <ion-row class="padding-left-15" *ngIf="jobTasks.length > 0">
        <ion-col col-12>
          <div class="categories">
            <div *ngFor="let job of (jobTasks | jobTaskPipe)">
              <ion-checkbox item-left class="margin-right-15" [(ngModel)]="job.Selected">
              </ion-checkbox>
              <span>{{job.JobTaskName}}</span>
              <ul>
                <ng-template #recursiveList let-list>
                  <li *ngFor="let subTask of list">
                    <div>
                      <ion-checkbox item-left class="margin-right-15" [(ngModel)]="job.Selected">
                      </ion-checkbox>
                      <span>{{subTask.JobTaskName}}</span>
                    </div>
                    <ul *ngIf="subTask.SubTasks?.length > 0">
                      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: subTask.SubTasks }"></ng-container>
                    </ul>
                  </li>
                </ng-template>
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: job.SubTasks }"></ng-container>
              </ul>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-3 *ngFor="let item of images" class="margin-auto">
              <img class="img-size" [src]="item.file && item.file!=''? item.file:'assets/imgs/no-record-found.png'" (click)="uploadImage(item)"
              />
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button class="btn" type="button" (click)="onCreateJobRequest()" class="submit-btn">Submit</button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>