page-changepassword {
    .scroll-content{
        padding:5px !important;    
        // margin-top: 98px !important;

    }
  .change-pwd-btn-con{
    background: white;
    padding: 5px 0px 5px 0px;
    text-align: center;
  }
  .change-pwd-input-con{
      background: white;
  }
  .change-pwd-input-con .item-md{
    padding-left:0px;
}
}
