<!--
  Generated template for the ExportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{labelList.pagetitle16}}</ion-title>
    <ion-buttons end (click)="openFilter()">
        <button ion-button icon-only>
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="export-card" *ngFor="let item of members">
    <ion-item>
      <ion-avatar item-start>
        
        <img class="img-size" *ngIf="item.Gender == 'Man'"
                    src="assets/imgs/maledefault.svg" />
                  <img class="img-size" *ngIf="item.Gender == 'Woman'"
                    src="assets/imgs/femaledefault.svg" />
        <img class="verfied-img" *ngIf="item.ProfileVerified == 'Verified'" src="assets/imgs/verified.png">
      </ion-avatar>
      <h2><img class="gender-img" *ngIf="item.Gender == 'Man'" src="assets/imgs/male.svg">
        <img class="gender-img" *ngIf="item.Gender != 'Man'" src="assets/imgs/woman.svg">
         <span class="para-overflow-hidden">{{item.Name}}</span> 
        
        </h2>
      <p>
        <span class="membertype">{{item.MemberType}}</span>
        <span class="jobtype para-overflow-hidden">&nbsp;({{item.JobSought}})</span>
        <span class="age">{{labelList.label50}}: {{item.Age}} Yrs</span>
      </p>
      <p><img class="phone-img" src="assets/imgs/mail_icon.svg">{{item.EmailId}}</p>
      <p><img class="phone-img" src="assets/imgs/mobile_icon.svg">{{item.ContactNo}} <span class="date-text">{{item.PublishedDate}}</span></p>
    </ion-item>
  </ion-card>
  <ion-fab right bottom class="jobtek-fab-btn">
      <button ion-fab mini color="danger" (click)="download()"><ion-icon name="download"></ion-icon></button>
    </ion-fab>
</ion-content>