<!--
  Generated template for the ManagemysettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card class="job-card-con">
    <ion-item class="">
      <ion-avatar item-start class="avatar-top">
        <img class="img-size" #myImage (click)="presentImage(myImage)" src="data:image/png;base64,{{userDetails.profile_pic}}" />
      </ion-avatar>
      <div class="card">
        <h4 class="para-overflow-hidden margin-bottom-5">
          <span class="margin-right-10 font-weight-500 font-size-13 " *ngIf="!userDetails.FirstName && !userDetails.LastName">
            {{userDetails.FirstName}} {{userDetails.LastName}}</span>

        </h4>
        <h4 class="para-overflow-hidden margin-bottom-5">
          <span class="margin-right-10 font-weight-500 font-size-13 " *ngIf="userDetails.Email"> {{userDetails.Email}}</span>

        </h4>
        <h4 class="para-overflow-hidden margin-bottom-5">
          <span class="margin-right-10 font-weight-500 font-size-13 "> {{userDetails.PhoneNumber}}</span>

        </h4>
        <h4 class="para-overflow-hidden margin-bottom-5">
          <span class="margin-right-10 font-weight-500 font-size-13 " style="color: #14c51b;" *ngIf="userDetails.ProfileVerified">Verified</span>
          <span class="margin-right-10 font-weight-500 font-size-13 " style="color: #c52014;" *ngIf="!userDetails.ProfileVerified">Not
            verified</span>

        </h4>
      </div>

      <!-- <p class="para-overflow-hidden">
              <span class="margin-right-10">
                Age: {{item.Age}} Yrs.
              </span>
              <span class="">
                Exp: {{item.Experience}} Yrs.
              </span>
            </p> -->
      <!-- <p class="para-overflow-hidden">
              <span>
                <img src="assets/imgs/publishedjob/location.svg" class="img-sub-size">
              </span>
              <span class=""> {{item.Location}}</span>
            </p>
            <p class="para-overflow-hidden">
              <span>
                <img src="assets/imgs/publishedjob/mail_icon.svg" class="img-sub-size">
              </span>
              <span class=""> {{item.Email}}</span>
            </p>
            <p class="para-overflow-hidden">
              <span>
                <img src="assets/imgs/publishedjob/mobile_icon.svg" class="img-sub-size">
              </span>
              <span class=""> {{item.ContactNo}}</span>
            </p>
            <p class="para-overflow-hidden">
              <span>
                Published: {{item.PublishedDate}}
              </span>
            
            </p> -->

    </ion-item>
    <ion-row no-padding class="action-con">
      <ion-col class="action-con-image">
        <img src="data:image/png;base64,{{userDetails.id_proof}}" #myImage1 (click)="presentImage(myImage1)" class="action-con-image-size">


      </ion-col>

      <ion-col text-right class="action-con-image">
        <img src="data:image/png;base64,{{userDetails.id_proof}}" #myImage2 (click)="presentImage(myImage2)" class="action-con-image-size">

      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list class="profile-con">
    <ion-item>
      <ion-input type="text" placeholder="First Name" [(ngModel)]="userDetails.FirstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Last Name" [(ngModel)]="userDetails.LastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Age" [(ngModel)]="userDetails.Age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Address" [(ngModel)]="userDetails.Address"></ion-input>
    </ion-item>



    <ion-item class="dropdown-text">
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="selectedCountry" (ionChange)="onChangeOfCountries()">
        <ion-option *ngFor="let country of countries" value={{country.CountryId}}>{{country.CountryName}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item class="dropdown-text">
      <ion-label>City</ion-label>
     <ion-select [(ngModel)]="selectedCity" (ionChange)="onChangeOfCity()">
        <ion-option *ngFor="let city of cities" value={{city.CityId}}>{{city.CityName}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="dropdown-text">
      <ion-label>District</ion-label>
     <ion-select [(ngModel)]="selectedDistrict" (ionChange)="onChangeOfDistrict()">
        <ion-option *ngFor="let district of districts" value={{district.DistrictId}}>{{district.DistrictName}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="emali" placeholder="Email" [(ngModel)]="userDetails.Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Phone Number" [(ngModel)]="userDetails.PhoneNumber"></ion-input>
    </ion-item>
    <p class="contactoption">Set your contact option</p>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-checkbox [(ngModel)]="isEmailSelected"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-checkbox [(ngModel)]="isPhoneSelected"></ion-checkbox>
    </ion-item>
    <p class="contactoption" (click)="changepassword()">
      <ion-icon name="unlock"></ion-icon> <span style="color: #fa005a;">Change Password</span>
    </p>
    <div class="profile-btn-con"><button ion-button round pr style="height:4.5rem;" (tap)="updateProfile()">Update Profile</button></div>
  </ion-list>

</ion-content>