<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{labelList.pagetitle8}}</ion-title>
  </ion-navbar>
  <ion-toolbar class="segment-toolbar">
    <ion-row class="filters">
      <ion-col no-padding col-12>
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3">
          <ion-slide (click)="filterDataBySelectedCategory(category.JobCategoryId)" *ngFor="let category of categories">
            <p class="para-overflow-hidden" [class.selected]="selectedCategory?.JobCategoryId === category.JobCategoryId" style="text-transform: uppercase;">{{ category.CategoryName }}</p>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-12>
      <div>
        <ion-list>
          <div *ngIf="employeeJobOffers.length > 0">
            <ion-card class="job-card-con" *ngFor="let item of employeeJobOffers">
              <ion-item class="">
                <ion-avatar item-start class="avatar-top">
                  <img class="img-size" *ngIf="item.Gender == 1" src="assets/imgs/maledefault.svg"
                  />
                  <img class="img-size" *ngIf="item.Gender == 2" src="assets/imgs/femaledefault.svg"
                  />
                  <img class="img-size" *ngIf="item.ProfilePicUrl && item.ProfilePicUrl!=null ? true:false" [src]="item.ProfilePicUrl"
                  />
                  <img src="assets/imgs/verified.png" class="verified-img" *ngIf="item.ProfileVerified" alt="">
                </ion-avatar>
                <div class="card">
                  <h4 class="para-overflow-hidden margin-bottom-5">
                    <img src="assets/imgs/woman.svg" *ngIf="item.Gender == 2" class="card-name-geneder-icon">
                    <img src="assets/imgs/male.svg" *ngIf="item.Gender == 1" class="card-name-geneder-icon">
                    <span class="margin-right-10 font-weight-500 font-size-16 ">{{item.FirstName}}</span>
                  </h4>
                  <ion-row no-padding class="">
                    <ion-col col-12 class="card-job-item-con">
                      <p class="card-job-item-name">{{item.JobName}}</p>
                    </ion-col>

                    <!-- <ion-col col-4 class="card-job-item-con">
                        <p class="req-type-color" *ngIf="item.StaffType == 0">( Doesn't Matter )</p>
                      <p class="req-type-color" *ngIf="item.StaffType == 1">( Individual )</p>
                      <p class="req-type-color" *ngIf="item.StaffType == 2">( Agency )</p>
                    </ion-col> -->
                  </ion-row>
                  <p class="para-overflow-hidden">
                      <span>
                        <img src="assets/imgs/usertype.svg" class="img-sub-size">
                      </span>
                      <span>{{labelList.label66}} : </span>
                      <span *ngIf="item.StaffType == 2">{{labelList.label10}}</span>
                      <span *ngIf="item.StaffType == 1">{{labelList.label48}}</span>
                      <span *ngIf="item.StaffType == 0">{{labelList.label76}}</span>
                    </p>
                  <p class="para-overflow-hidden">
                    <span>
                      <img src="assets/imgs/location.svg" class="img-sub-size">
                    </span>
                    <span class=""> {{item.Country}}, {{item.City}}, {{item.District}}</span>
                  </p>
                  <p class="para-overflow-hidden">
                    <span>
                      <img src="assets/imgs/location.svg" class="img-sub-size">
                    </span>
                    <span class=""> {{labelList.label81}} : {{item.ExpectedMinSalary}} - {{item.ExpectedMaxSalary}}</span>
                  </p>

                  <p class="para-overflow-hidden">
                    <span>
                      <img src="assets/imgs/age.svg" class="img-sub-size">
                    </span>

                    <span class="margin-right-10">
                      {{labelList.label82}}: {{item.MinAge}} Yrs - {{item.MaxAge}} Yrs
                    </span>
                    <!-- <span class="">
                        Exp: {{item.Candidate.ExperienceInYears}} Yrs.
                      </span> -->
                  </p>
                  <!-- <p class="para-overflow-hidden">
                      <span>
                        <img src="assets/imgs/publishedjob/mail_icon.svg" class="img-sub-size">
                      </span>
                      <span class=""> {{item.Candidate.EmailId}}</span>
                    </p> -->
                  <!-- <p class="para-overflow-hidden">
                      <span>
                        <img src="assets/imgs/publishedjob/mobile_icon.svg" class="img-sub-size">
                      </span>
                      <span class=""> {{item.Candidate.ContactNo}}</span>
                    </p> -->
                  <p class="para-overflow-hidden">
                    <span>
                      {{labelList.label52}}: {{item.PublishedDate}}
                    </span>

                  </p>
                </div>
              </ion-item>
              <!-- <ion-row no-padding class="action-con">
                  <ion-col class="action-con-image">
                    <img src="{{item.IdProofDoc}}" *ngIf="item.IdProofDoc != '' && item.IdProofDoc != null" #idcardfront (click)="presentImage(idcardfront)" class="action-con-image-size">
                    <img src="assets/imgs/noidcard.jpg" *ngIf="item.IdProofDoc == '' || item.IdProofDoc == null" class="action-con-image-size">
                    
                  </ion-col>
                 
                  <ion-col text-right class="action-con-image">
                    <img src="{{item.IdProofDoc1}}" *ngIf="item.IdProofDoc1 != '' && item.IdProofDoc1 != null" #idcardback (click)="presentImage(idcardback)" class="action-con-image-size">
                    <img src="assets/imgs/noidcard.jpg" *ngIf="item.IdProofDoc1 == '' || item.IdProofDoc1 == null" class="action-con-image-size">
                  </ion-col>
                </ion-row> -->
              <ion-row no-padding class="action-con">
                <ion-col class="action-con-inner">
                  <button ion-button clear small icon-start class="action-btn" (click)="deleteJobOffer(item.JobofferId,i)">
                    <ion-icon name="trash"></ion-icon>
                    {{labelList.label77}}
                  </button>
                </ion-col>

                <ion-col text-right class="action-con-inner">
                  <button ion-button clear small icon-start class="action-btn" (click)="gotoDetails(item)">
                    <ion-icon name="information-circle"></ion-icon>
                    {{labelList.label54}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isAvailable && employeeJobOffers.length == 0">
    <ion-col col-12 text-center>
      <img src="assets/imgs/no-record-found.png">
    </ion-col>
  </ion-row>

  <ion-fab right bottom class="jobtek-fab-btn">
    <button ion-fab mini color="danger" (click)="gotoCreateJobOffer()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>