<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>JOB REQUEST FORM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="">
  <ion-row>
    <ion-col col-12>
      <ion-row class="">
        <ion-col col-12>
          <p class="form-header">
            What gender are you looking for ?
          </p>
        </ion-col>
        <ion-list class="margin-bottom-5" radio-group [(ngModel)]="jobCriteria.Gender">
          <ion-item class="radio-btn-sec default-add">
            <ion-radio item-left value="0"></ion-radio>
            <ion-label class="font-size-14">Women</ion-label>
          </ion-item>
          <ion-item class="radio-btn-sec default-add">
            <ion-radio item-left value="1"></ion-radio>
            <ion-label class="font-size-14">Man</ion-label>
          </ion-item>
        </ion-list>
      </ion-row>
      <ion-row class="">
        <ion-col col-12>
          <p class="form-header">
            What type of Staff are you looking for ?
          </p>
        </ion-col>
        <ion-list class="margin-bottom-5" radio-group [(ngModel)]="jobCriteria.Staff">
          <ion-item class="radio-btn-sec default-add">
            <ion-radio item-left value="0"></ion-radio>
            <ion-label class="font-size-14">Agency</ion-label>
          </ion-item>
          <ion-item class="radio-btn-sec default-add">
            <ion-radio item-left value="1"></ion-radio>
            <ion-label class="font-size-14">Independant</ion-label>
          </ion-item>
          <ion-item class="radio-btn-sec default-add">
            <ion-radio item-left value="2"></ion-radio>
            <ion-label class="font-size-14">Doesn't Matter</ion-label>
          </ion-item>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            What age range are you looking for ?
          </p>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="jobCriteria.MinAge" type="tel" placeholder="Min Age" #minAge="ngModel" spellcheck="false" autocapitalize="off"
              maxlength="2" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="jobCriteria.MaxAge" type="tel" placeholder="Max Age" #maxAge="ngModel" spellcheck="false" autocapitalize="off"
              maxlength="3" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            What min years of experience do you require ?
          </p>
        </ion-col>
        <ion-col col-6>
          <ion-select class="margin-left-10" [(ngModel)]="jobCriteria.MinExp">
            <ion-option value="0">--Year--</ion-option>
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
            <ion-option value="7">7</ion-option>
            <ion-option value="8">8</ion-option>
            <ion-option value="9">9</ion-option>
            <ion-option value="10">10</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            What min years of experience do you require ?
          </p>
        </ion-col>
        <ion-col col-6>
          <ion-select class="margin-left-10" [(ngModel)]="jobCriteria.City">
            <ion-option *ngFor="let item of cities" value="{{item.Key}}">{{item.Value}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-6>
          <ion-select class="margin-left-10" [(ngModel)]="jobCriteria.District" name="dist">
            <ion-option *ngFor="let item of districts" value="{{item.Key}}">{{item.Value}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            What salary do you propose for the candidate ?
          </p>
        </ion-col>
        <ion-col col-12>
          <ion-list class="margin-bottom-5" radio-group [(ngModel)]="jobCriteria.SalaryPropose">
            <ion-item class="radio-btn-sec default-add">
              <ion-radio item-left value="1"></ion-radio>
              <ion-label class="font-size-14">Monthly</ion-label>
            </ion-item>
            <ion-item class="radio-btn-sec default-add">
              <ion-radio item-left value="2"></ion-radio>
              <ion-label class="font-size-14">Hourly</ion-label>
            </ion-item>
            <ion-item class="radio-btn-sec default-add">
              <ion-radio item-left value="3"></ion-radio>
              <ion-label class="font-size-14">Price Of Service</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="jobCriteria.MinSalary" type="tel" placeholder="Min Salary" #minSal="ngModel" spellcheck="false" autocapitalize="off"
              maxlength="10" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="jobCriteria.MaxSalary" type="tel" placeholder="Max Salary" #maxSal="ngModel" spellcheck="false" autocapitalize="off"
              maxlength="10" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item class="margin-bottom-5">
            <ion-label class="margin-top-0 font-size-14">
              <span>Canditate must know how to read ?</span>
              <span>
                <img src="assets/imgs/createJobReq/study.svg" class="img-sub-size margin-left-10" style="width:25px">
              </span>
            </ion-label>
            <ion-checkbox item-left class="margin-right-15" [(ngModel)]="jobCriteria.isRead" #read="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-checkbox>
          </ion-item>
          <ion-item class="margin-bottom-5">
            <ion-label class="margin-top-0 font-size-14">
              <span>Candidate must know how to write ?</span>
              <span>
                <img src="assets/imgs/createJobReq/write-letter.svg" class="img-sub-size margin-left-10" style="width:25px">
              </span>
            </ion-label>
            <ion-checkbox item-left class="margin-right-15" [(ngModel)]="jobCriteria.isWrite" #read="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-checkbox>
          </ion-item>
          <ion-item class="margin-bottom-5">
            <ion-label class="margin-top-0 font-size-14">
              <span>Candidate must sleep on Site ?</span>
              <span>
                <img src="assets/imgs/createJobReq/slumber.svg" class="img-sub-size margin-left-10" style="width:25px">
              </span>
            </ion-label>
            <ion-checkbox item-left class="margin-right-15" [(ngModel)]="jobCriteria.isSleep" #read="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            When should the service start ?
          </p>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>
              <ion-icon name="calendar" class="font-size-25"></ion-icon>
            </ion-label>
            <ion-datetime displayFormat="DD-MMM-YYYY" pickerFormat="DD-MMM-YYYY" name="appo-calendar" min="{{minDate}}" max="{{maxDate}}"
              [(ngModel)]="showSelectedDate" (click)="isDateSelected = true" (ionChange)="onSelectedDate(true)"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="form-header">
            How many people live in your home ?
          </p>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="jobCriteria.Adult" type="tel" placeholder="No of Adults" #adult="ngModel" spellcheck="false" autocapitalize="off"
              maxlength="2" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-10">
            <ion-input [(ngModel)]="jobCriteria.Children" type="tel" placeholder="No of Children" #children="ngModel" spellcheck="false"
              autocapitalize="off" maxlength="2" (keypress)="onlyNumber($event)">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-list *ngIf="jobs.length > 0" class="margin-bottom-0">
            <ion-col col-12 *ngFor="let job of jobs" text-wrap>
              <ion-row>
                <ion-col col-12>
                  <ion-checkbox item-left class="margin-right-15" [(ngModel)]="jobCriteria.isSleep" #read="ngModel" spellcheck="false" autocapitalize="off"
                    required>
                  </ion-checkbox>
                  <span>{{job.JobName}}</span>
                </ion-col>
              </ion-row>
              <ion-list *ngIf="job.JobTypes.length > 0" class="margin-left-15 margin-bottom-0">
                <ion-col col-12 *ngFor="let type of job.JobTypes" text-wrap class="">
                  <ion-row>
                    <ion-col col-12>
                      <ion-checkbox item-left class="margin-right-15" [(ngModel)]="jobCriteria.isSleep" #read="ngModel" spellcheck="false" autocapitalize="off"
                        required>
                      </ion-checkbox>
                      <span>{{type.JobTypeName}}</span>
                    </ion-col>
                  </ion-row>
                  <ion-list *ngIf="type.JobSubTypes.length > 0" class="margin-left-15 margin-bottom-0">
                    <ion-row>
                      <ion-col col-12 *ngFor="let subType of type.JobSubTypes" text-wrap>
                        <ion-checkbox item-left class="margin-right-15" [(ngModel)]="jobCriteria.isSleep" #read="ngModel" spellcheck="false" autocapitalize="off"
                          required>
                        </ion-checkbox>
                        <span>{{subType.JobSubTypeName}}</span>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ion-col>
              </ion-list>
            </ion-col>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>