<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="">
  <ion-row *ngIf="publishedJobOfferDesc != null && isAvailable">
    <ion-col col-12>
      <ion-card class="details-card">
        <ion-item class="">
          <ion-avatar item-start class="avatar-top">
            <img class="img-size" src="{{publishedJobOfferDesc.Employer.ProfilePicUrl}}" />
          </ion-avatar>
          <div class="card">
            <h4 class="para-overflow-hidden margin-bottom-5">
              <span class="margin-right-10 font-weight-500 font-size-16 ">
                <span
                  *ngIf="publishedJobOfferDesc.Employer && publishedJobOfferDesc.Employer.FirstName && publishedJobOfferDesc.Employer.FirstName !=''">{{publishedJobOfferDesc.Employer.FirstName}}
                </span>
                <span *ngIf="loggedInUserDetails.type == 'Admin'">{{publishedJobOfferDesc.Employer.LastName}}</span>
              </span>
              <!-- <span class="req-type-color">
                  {{item.RequestType}}
                </span> -->
            </h4>
            <p class="para-overflow-hidden" *ngIf="publishedJobOfferDesc.Employer">
              <rating class="rating-sec" [(ngModel)]="publishedJobOfferDesc.StarRating" readOnly="true" max="5"
                emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
              </rating>
            </p>
            <p class="para-overflow-hidden" *ngIf="publishedJobOfferDesc.Employer">
              <span>
                <img src="assets/imgs/publishedjob/mail_icon.svg" class="img-sub-size">
              </span>
              <span class="font-size-13"> {{publishedJobOfferDesc.Employer.EmailId}}</span>
            </p>
            <p class="para-overflow-hidden" *ngIf="publishedJobOfferDesc.Employer">
              <span>
                <img src="assets/imgs/publishedjob/mobile_icon.svg" class="img-sub-size">
              </span>
              <span class="font-size-13"> {{publishedJobOfferDesc.Employer.ContactNo}}</span>
            </p>
            <p class="para-overflow-hidden" *ngIf="publishedJobOfferDesc.Employer">
              <span>
                <img src="assets/imgs/publishedjob/location.svg" class="img-sub-size">
              </span>
              <span class="font-size-13"> {{publishedJobOfferDesc.Employer.Country}},
                {{publishedJobOfferDesc.Employer.City}}, {{publishedJobOfferDesc.Employer.District}}</span>
            </p>
          </div>
        </ion-item>
        <ion-item class="border-bottom-1 margin-top--10"
          *ngIf="publishedJobOfferDesc.JobRequestDescription && publishedJobOfferDesc.JobRequestDescription!=''">
          <p class="block-with-text">
            <span class="sub-header-title">{{labelList.label53}}: </span>
            <span class="font-size-13 white-space-initial">{{publishedJobOfferDesc.JobRequestDescription}}</span>
          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label14}}</span>
            <span class="float-right font-size-13" *ngIf="publishedJobOfferDesc.Employer.Gender == 1">{{labelList.label16}}</span>
            <span class="float-right font-size-13" *ngIf="publishedJobOfferDesc.Employer.Gender == 2">{{labelList.label15}}</span>
          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label66}}</span>
            <span class="float-right font-size-13">{{publishedJobOfferDesc.StaffType}}</span>

          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label50}}</span>
            <span class="float-right font-size-13">{{publishedJobOfferDesc.MinAge}} {{labelList.label93}} -
              {{publishedJobOfferDesc.MinAge}} {{labelList.label93}}</span>
          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label65}}</span>
            <span class="float-right font-size-13">
              <span
                *ngIf="publishedJobOfferDesc.ExperienceInYears > 0 && publishedJobOfferDesc.ExperienceInYears!=null">{{publishedJobOfferDesc.ExperienceInYears}}
                {{labelList.label146}}</span>
              <span
                *ngIf="publishedJobOfferDesc.ExperienceInMonths > 0 && publishedJobOfferDesc.ExperienceInMonths!=null">{{publishedJobOfferDesc.ExperienceInMonths}}
                {{labelList.label147}}</span>
            </span>
          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label148}}</span>
            <span class="float-right font-size-13" *ngIf="publishedJobOfferDesc.CanRead">{{labelList.label60}}</span>
            <span class="float-right font-size-13" *ngIf="!publishedJobOfferDesc.CanRead">{{labelList.label59}}</span>
          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label149}}</span>
            <span class="float-right font-size-13" *ngIf="publishedJobOfferDesc.CanWrite">{{labelList.label60}}</span>
            <span class="float-right font-size-13" *ngIf="!publishedJobOfferDesc.CanWrite">{{labelList.label59}}</span>
          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label129}}</span>
            <span class="float-right font-size-13" *ngIf="publishedJobOfferDesc.SleepOnSite">{{labelList.label60}}</span>
            <span class="float-right font-size-13" *ngIf="!publishedJobOfferDesc.SleepOnSite">{{labelList.label59}}</span>
          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label67}}</span>
            <span class="float-right font-size-13">{{publishedJobOfferDesc.Disponibility}}</span>
          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label150}}</span>
            <span class="float-right font-size-13">{{publishedJobOfferDesc.MinGroupPeople}} -
              {{publishedJobOfferDesc.MaxGroupPeople}}</span>
          </p>
        </ion-item>

        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label69}}</span>
            <span class="float-right font-size-13">
              <span *ngIf="publishedJobOfferDesc.Employer.Country">{{publishedJobOfferDesc.Employer.Country}}, </span>
              <span *ngIf="publishedJobOfferDesc.Employer.City">{{publishedJobOfferDesc.Employer.City}}, </span>
              <span *ngIf="publishedJobOfferDesc.Employer.District">{{publishedJobOfferDesc.Employer.District}} </span>
            </span>
          </p>
        </ion-item>
        <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.Employer">
          <p>
            <span class="float-left sub-header-title">{{labelList.label151}}</span>
            <span class="float-right font-size-13">
              <span *ngIf="publishedJobOfferDesc.ExpectedMaxSalary > 0">{{publishedJobOfferDesc.ExpectedMaxSalary}} -
              </span>
              <span
                *ngIf="publishedJobOfferDesc.ExpectedMinSalary > 0">{{publishedJobOfferDesc.ExpectedMinSalary}}</span>
            </span>
          </p>
        </ion-item>
        <ion-row class="padding-left-15" *ngIf="jobTasks.length > 0">
          <ion-col col-12>
            <ion-col col-12>
              <p>
                {{labelList.label152}}
              </p>
            </ion-col>
            <div class="categories">
              <!-- <div *ngFor="let skill of (publishedJobOfferDesc.JobOfferJobTasks | jobTaskPipe)">
                <div *ngIf="skill.JobTask">
                  <span class="font-size-13">
                    <img [src]="skill.JobTask.IconImage" class="item-img" /> {{skill.JobTask.JobTaskName}}</span>
                </div>
                <ul>
                  <ng-template #recursiveList let-list>
                    <li *ngFor="let subTask of list">
                      <div>
                        <span class="font-size-13">
                          <img [src]="subTask.IconImage" class="item-img" /> {{subTask.JobTaskName}}
                        </span>
                      </div>
                      <ul *ngIf="subTask.SubTasks?.length > 0">
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: subTask.SubTasks }">
                        </ng-container>
                      </ul>
                    </li>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: skill.SubTasks }"></ng-container>
                </ul>
              </div> -->
              <ion-row class="padding-left-15" >
                  <ion-col col-12>
                    <div class="categories">
                      <div *ngFor="let job of (jobTasks | jobTaskPipe)">
                        <ion-checkbox [checked]="checkIfExists(job)" item-left class="margin-right-15" name="job_task_{{job.JobTaskId}}" disabled="disabled" [(ngModel)]="job.Selected">
                        </ion-checkbox>
                        <span>{{job.JobTaskName}}</span>
                        <p>{{job.JobTaskDescription}}</p> 
                        <ul>
                          <ng-template #recursiveList let-list>
                            <li *ngFor="let subTask of list">
                              <div>
                                <ion-checkbox item-left class="margin-right-15" [checked]="checkIfExists(subTask)" disabled="disabled" name="job_task_{{subTask.JobTaskId}}" [(ngModel)]="subTask.Selected">
                                </ion-checkbox>
                                <span>{{subTask.JobTaskName}}</span>
                             <p>{{subTask.JobTaskDescription}}</p> 
                              </div>
                              <ul *ngIf="subTask.SubTasks?.length > 0">
                                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: subTask.SubTasks }"></ng-container>
                              </ul>
                            </li>
                          </ng-template>
                          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: job.SubTasks }"></ng-container>
                        </ul>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
            </div>
          </ion-col>
        </ion-row>
<!-- 
        <ion-row class="" *ngIf="publishedJobOfferDesc.JobOfferJobTasks.length > 0">
          <ion-col col-12>
            <p>
              Canditate Skills
            </p>
          </ion-col>

          <ion-col col-12 *ngFor="let skill of publishedJobOfferDesc.JobOfferJobTasks">
            <div *ngIf="skill.JobTask" class="skill-task">
              <span class="font-size-13">
                <img [src]="skill.JobTask.IconImage" class="item-img" /> {{skill.JobTask.JobTaskName}}</span>
              <div *ngFor="let subTask of skill.JobTask.SubTasks" class="sub-skill-task">
                <span class="font-size-13">
                  <img [src]="subTask.IconImage" class="item-img" /> {{subTask.JobTaskName}}
                </span>
              </div>
            </div>
          </ion-col>
        </ion-row> -->
        <!-- <ion-item class="border-bottom-1" *ngIf="publishedJobOfferDesc.AdditionalDescription && publishedJobOfferDesc.AdditionalDescription!=''">
          <p>
            <span class="float-left sub-header-title">{{labellist.label131}}</span>
          </p>
          <p class="font-size-13 white-space-initial">
            {{publishedJobOfferDesc.AdditionalDescription}}
          </p>
        </ion-item> -->
        <div class="job-btn-con" *ngIf="loggedInUserDetails.type=='Admin'">
          <button ion-button round full pr class="job-button" (click)="Verify()">{{labellist.label96}}</button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isAvailable">
    <ion-col col-12 text-center>
      <p class="not-found-text">{{labellist.errormsg17}}!</p>
    </ion-col>
  </ion-row>
</ion-content>